.fade-enter {
    opacity: 0;
}

.fade-exit {
    opacity: 1;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}

.fade-enter-active, .fade-exit-active {
    position: absolute;
}

.fade-enter-active {
    top: 0;
}

.fade-enter-active,
.fade-exit-active {
    transition: opacity 15000ms ease-out;
}

.container-wrapper {
    position: relative;
}
